@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
        -webkit-animation: none;
    }

    menu > ul > li {
        display: inline-block;
        width: 100px;
    }

    main {
        max-width: 768px;
    }
}